<div style="position: absolute; top: 15px; right: 20px; z-index: 1050; background-color: rgba(13, 110, 253, 0.1); padding: 5px 15px; border-radius: 30px; border: 1px solid rgba(13, 110, 253, 0.2);">
  @if (usuarioLogado) {
    <div style="display: flex; gap: 15px; align-items: center;">
      <span style="font-weight: bold; font-size: 1.1rem; color: inherit;">Olá, {{ nomeUsuario }}!</span>
      <button (click)="sair()" class="btn btn-danger fw-bold">
        Sair
      </button>
    </div>
  } @else {
    <button [routerLink]="['/login']" title="Faça seu login ou crie uma conta" class="btn btn-primary fw-bold">
      Login
    </button>
  }
</div>

<router-outlet></router-outlet>